# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# Chris Joakim, 2025

# specific pinned versions
aiohttp>=3.10.2
azure-cosmos==4.9.0
six==1.17.0

Faker
Jinja2
azure-identity
black
certifi>=2025.1.31
dnspython
docopt
duckdb
fastapi
h11>=0.14.0
httpx
hypercorn
psutil
pymongo
pytest>= 8.3.5
pytest-asyncio>=0.25.3
pytest-cov>=6.0.0
python-dotenv
pytz
redis
uvicorn


# Entries per Dependabot warnings
# starlette>=0.37.0
# werkzeug>=3.0.6
# cryptography>=43.0.1
# aiohttp>=3.10.2
# requests>=2.30.0
