# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# See https://pypi.org/
# Chris Joakim, 2025

aiohttp
azure-ai-documentintelligence>=1.0.2
azure-ai-projects
azure-cosmos>=4.9.0
azure-identity
azure-storage-blob
black
docopt
duckdb
Faker
httpx
Jinja2
openai
psutil
pytest>=8.4.0
pytest-asyncio>=1.0.0
pytest-cov>=6.1.1
python-dotenv
pytz
redis

#six==1.17.0
#urllib3==2.3.0
